.app__section2 {
  padding: 5rem 8rem;
  background-color: var(--dark-theme);
}

.app__section2-firstRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .app__section2-firstRow-price {
    h1 {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1px;

      span {
        color: #66c166;
      }
    }
  }
  button {
    background: linear-gradient(to right, #004d00, #01301e);
    padding: 0.8rem 1.5rem;
    border-radius: 3px;
    letter-spacing: 1px;
    cursor: pointer;
    border: 2px solid linear-gradient(100deg, var(--secondary-color) 10%, #004d00);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
  }
}

.app__section2-heading {
  margin: 4rem 0 1rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  span {
    color: var(--secondary-color);
  }
}

.app__section2-features {
  display: flex;
  justify-content: space-between;
}
.app__features {
  align-items: flex-start;
  width: 25%;
  .feature {
    h3 {
      margin-top: 2.5rem;
      font-size: 2.5rem;
      padding-bottom: 20px;
    }
    p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 150%;
      padding: 10px 0px;
    }
    ul {
      margin-left: 2rem;
      list-style: none;
      li {
        padding-bottom: 20px;
        &::before {
          content: "\2022";
          color: green;
          font-weight: bold;
          display: inline-block;
          width: 10px;
          margin-inline: -15px 5px;
        }
      }
    }
  }
}
.app__section2-coin {
  margin: auto;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
}
.feature__coinlines {
  position: absolute;

  .shape1 {
    height: 2px;
    background-color: var(--line-color);
    margin-left: 100%;
    color: var(--line-color);
    width: 150px;
  }
}
