* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --primary-color: white;
  --secondary-color: #3555f7;
  --dark-primary-color: #021326;
  --btn-color: #004d00;
  --partner-card: #eff3f9;
  --partner-owner-card: linear-gradient(to right, #eff3f9, #fff);
  --line-color: black;
}
@media (prefers-color-scheme: light) {
  body {
    background: #fff;
    color: #333;
  }
  :root {
    --partner-card: #eff3f9;
    --partner-owner-card: linear-gradient(to right, #eff3f9, #fff);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #021326;
    color: #fff;
  }
  :root {
    --partner-card: #1b334e;
    --partner-owner-card: linear-gradient(to right, #1b334e, #021326);
  }
}
